 ## Q1. Marks conversion to Grade ##

In [7]:
total_marks = int (input ("Enter the total marks achieved"))
if total_marks >90:
    print ("You have achieved a mean grade of A: excellent!")
elif total_marks >80 and total_marks <=90:
    print ("You have achieved a mean grade of B: good work")
elif total_marks >=60 and total_marks <=80:
    print ("Your mean grade is C")
else: 
    print ("Your mean grade is D, for dismal performance!!!")

Enter the total marks achieved 66

Your mean grade is C

## Q2. Cost price of bike with the corresponding road tax to be paid ##

In [14]:
bike_price = int (input ("Enter the cost of the bike in Rupees:"))
if bike_price >100000:
    print (f"The total road tax to be paid for this bike is {bike_price*0.85}")
elif bike_price >50000 and bike_price <=100000:
    print (f"The total road tax to be paid for this bike is {bike_price*0.9}")
elif bike_price <= 50000:
    print (f"The total road tax for this bike is {bike_price*.95}")

Enter the cost of the bike in Rupees: 48000

The total road tax for this bike is 45600.0

## Q3. City with corresponding monuments ##

In [23]:
city_list = ["Delhi" , "Agra" , "Jaipur"]
for x in city_list:
    print (x)
    if x == "Delhi":
        print ("The major monument found in this city is Red Fort")
    if x == "Agra":
        print ("The major monument found in this city is The Taj Mahal")
    if x == "Jaipur":
        print ("The major monument found in this city is Jal Mahal")

Delhi
The major monument found in this city is Red Fort
Agra
The major monument found in this city is The Taj Mahal
Jaipur
The major monument found in this city is Jal Mahal

## Q4. Check how many times a given number can be divided by 3 before it is less than or equal to 10. ##

In [28]:
num = 10
while num > 500:
    num += 1
if (num%3) == 0:
    print (num)

In [31]:
## Q5. Why and when to use While loop in Python, giving a detailed description with example
##A while loop is used to run same task a multiple number of times until the condition set is met##

x = 0
while (x<15):
    print (x, end=" ")
    x = x+1

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14

In [39]:
## Q6. Use nested while loop to print 3 different patterns##

n = 7
for i in range (0, n):
    for j in range (0, i+1):
        print ("$", end= " ")
    print ("\r")

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $ $ $

In [46]:
rows = 7
num = rows

for i in range (rows, 0, -1):
    for j in range (0, i):
        print ("$", end= " ")
    print ("\r")

$ $ $ $ $ $ $
$ $ $ $ $ $
$ $ $ $ $
$ $ $ $
$ $ $
$ $
$

In [47]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

## Q7. Reverse a while loop to display numbers from 10 to 1

In [2]:
i=10

while(i>=1):
    print(i, end=(" "))
    i=i-1

10 9 8 7 6 5 4 3 2 1